/* --- Estilo general --- */
* {
    box-sizing: border-box;/* evitar el scroll */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* --- Header --- */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    height: 20vh; /* ocupa el 20% de la pantalla */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* --- Main (dividido en 2 secciones iguales) --- */
main {
    height: 70vh;               /* ocupa el 70% de la pantalla */
    display: flex;              /* usa flexbox */
    flex-direction: column;     /* las secciones una debajo de otra */
}

/* --- Secciones principales --- */
.pantalla {
    flex: 1;                    /* cada sección ocupa la mitad del main */
    display: flex;
    align-items: center;        /* centra verticalmente */
    justify-content: center;    /* centra horizontalmente */
    font-size: 1.5em;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* --- Galería --- */
.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.imagenes img {
    width: 300px;
    border-radius: 10px;
}

/* --- Footer --- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 10vh;
}