:root {
    --color-principal: #F5E7C6;
    --color-secundario: #FA8112;
    --color-terciario: #FAF3E1;
    --color-texto: #222222;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-principal);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 15px 10%;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: 007bff;
}

