body {
    background-color: beige;
    justify-content: center;
    align-items: center;
    height: 300vh;
}

.imagenes {
    height: 250px;
    width: 250;
}

.formulario {
    display: flex;
    flex-direction: column;
}